<a href="https://colab.research.google.com/github/Ramanand-Yadav/SalaryPrediction/blob/main/Who_will_earn_more_than_50k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Salary Prediction**

##data overview

US Adult Census data relating income to social factors such as Age, Education, race etc.

In [ ]:
# import pandas and numpy
import pandas as pd 
import numpy as np

Load Dataset

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/DependerKumarSoni/Naive-Bayes/main/adult.csv',header=None)

In [ ]:
df.head()

,age,workclass,fulwgt,education,education_num,marital_status,occupation,realationship,race,sex,capital_gain,capital_loss,hour_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.columns

Index(['age', 'workclass', 'fulwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'realationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hour_per_week', 'native_country',
       'income'],
      dtype='object')

In [ ]:
df

,age,workclass,fulwgt,education,education_num,marital_status,occupation,realationship,race,sex,capital_gain,capital_loss,hour_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

change the columns name from the given below

In [ ]:
col = ['age', 'workclass', 'fulwgt', 'education', 'education_num', 'marital_status', 'occupation', 'realationship', 'race', 'sex', 'capital_gain', 'capital_loss', 
       'hour_per_week', 'native_country', 'income']
df.columns = col

**dataset**

The data set consists of anonymous information such as occupation, age, native country, race, capital gain, capital loss, education, work class and more.
Each row is labelled as either having a salary greater than ">50K" or "<=50K".




The goal here is to train a binary classifier on the training dataset to predict the column income_bracket which has two possible values ">50K" and "<=50K".

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fulwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   realationship   32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hour_per_week   32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.sample(10)

,age,workclass,fulwgt,education,education_num,marital_status,occupation,realationship,race,sex,capital_gain,capital_loss,hour_per_week,native_country,income
2038,49,State-gov,213307,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
6061,31,Private,34572,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,55,United-States,<=50K
27636,27,Private,259840,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,45,United-States,<=50K
11879,43,Private,190044,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
27255,37,State-gov,117651,Bachelors,13,Never-married,Prof-specialty,Other-relative,White,Male,0,0,40,United-States,<=50K
13034,32,Private,281384,HS-grad,9,Married-AF-spouse,Other-service,Other-relative,White,Female,0,0,10,United-States,<=50K
24654,36,Private,77820,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
8643,43,?,116632,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,45,United-States,>50K
17811,26,?,176967,11th,7,Never-married,?,Not-in-family,White,Female,0,0,65,United-States,<=50K
15791,39,Private,314007,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,<=50K

In [ ]:
df.describe()

,age,fulwgt,education_num,capital_gain,capital_loss,hour_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

The categorical columns are: **workclass, education, maritalstatus, occupation, relationship, race, gender, nativecountry**

The continuous columns are: **age, educationnum, capitalgain, capitalloss, hoursper_week**

**let's explore categorical features first**

In [ ]:
# unique value in every categorical column
unique_col = ['workclass', 'education', 'marital_status', 'occupation', 'realationship', 'race', 'sex', 'native_country']
for col in unique_col:
  print("unique value in the column : ", col)
  print(df[col].value_counts())
  print(50*"- ")

unique value in the column :  workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  marital_status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital_status, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  realationship
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: realationship, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  sex
 Male      21790
 Female    10771
Name: sex, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
unique value in the column :  native_country
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

some feature containing a special value "?". Now remove them

In [ ]:
df.isnull().sum()

age               0
workclass         0
fulwgt            0
education         0
education_num     0
marital_status    0
occupation        0
realationship     0
race              0
sex               0
capital_gain      0
capital_loss      0
hour_per_week     0
native_country    0
income            0
dtype: int64

In [ ]:
df.shape

(32561, 15)

In [ ]:
for i in df.columns:
  df[i].replace(' ?', np.nan, inplace=True)
df.dropna(inplace = True)

In [ ]:
df.shape

(30162, 15)

**let's define target value**

In [ ]:
df['income']

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 30162, dtype: object

In [ ]:
df['target'] = np.where(df['income']==' <=50K', 0, 1)

In [ ]:
df['income'].value_counts()

 <=50K    22654
 >50K      7508
Name: income, dtype: int64

In [ ]:
df['target'].value_counts()

0    22654
1     7508
Name: target, dtype: int64

**droping income columns**

In [ ]:
df.drop('income', axis=1, inplace=True)

##Feature Engineering

In [ ]:
#var name is variable name: should be passed as strings within ('')
# bins is list of numeric values like [0,6,10,11]
# group names is list of groups you want to create in list form
def bin_var(data, var, bins, group_names):
    bin_value = bins
    group = group_names
    data[var+'Cat'] = pd.cut(data[var], bin_value, labels=group)

In [ ]:
df.columns

Index(['age', 'workclass', 'fulwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'realationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hour_per_week', 'native_country',
       'target'],
      dtype='object')

Education can be divided into three groups 0-6 low and 7-11 medium and above that high

In [ ]:
bin_var(df, 'education_num', [0, 6, 11, 16], ['Low', 'Medium', 'High'])

In [ ]:
pd.crosstab(df['education_numCat'],df['target'])

target                0     1
education_numCat
Low                2179   137
Medium            15865  3385
High               4610  3986

In [ ]:

bin_var(df, 'hour_per_week', [0,35,40,60,100], ['Low', 'Medium', 'High','VeryHigh'])

In [ ]:
pd.crosstab(df['hour_per_weekCat'], df['target'], margins=True)

target                0     1    All
hour_per_weekCat
Low                5369   505   5874
Medium            11829  3262  15091
High               4796  3349   8145
VeryHigh            660   392   1052
All               22654  7508  30162

occupation

In [ ]:
pd.crosstab(df['occupation'], df['target'], margins=True).reset_index()

target          occupation      0     1    All
0             Adm-clerical   3223   498   3721
1             Armed-Forces      8     1      9
2             Craft-repair   3122   908   4030
3          Exec-managerial   2055  1937   3992
4          Farming-fishing    874   115    989
5        Handlers-cleaners   1267    83   1350
6        Machine-op-inspct   1721   245   1966
7            Other-service   3080   132   3212
8          Priv-house-serv    142     1    143
9           Prof-specialty   2227  1811   4038
10         Protective-serv    434   210    644
11                   Sales   2614   970   3584
12            Tech-support    634   278    912
13        Transport-moving   1253   319   1572
14                     All  22654  7508  30162

In [ ]:
import re

In [ ]:
def occup(x):
    if re.search('managerial', x):
        return 'Highskill'
    elif re.search('specialty',x):
        return 'Highskill'
    else:
        return 'Lowskill'

In [ ]:
df['Occupa_cat']=df.occupation.apply(lambda x: x.strip()).apply(lambda x: occup(x))

In [ ]:
type(df['age'][0])

numpy.int64

Age

In [ ]:
bin_var(df, 'age', [16,30,55,100], ['Young', 'Middle_aged', 'Old'])

In [ ]:
df['ageCat'].value_counts()

Middle_aged    17127
Young           9597
Old             3438
Name: ageCat, dtype: int64

Marital Status

In [ ]:
df['Marital Status_cat']=df['marital_status'].apply(lambda x: 'married' if x.startswith('Married',1) else 'Single')

Race has been binned into White and others

In [ ]:
pd.crosstab(df['race'],df['target'], margins=True)

target                   0     1    All
race
 Amer-Indian-Eskimo    252    34    286
 Asian-Pac-Islander    647   248    895
 Black                2451   366   2817
 Other                 210    21    231
 White               19094  6839  25933
All                  22654  7508  30162

In [ ]:
df['Race_cat']=df['race'].apply(lambda x: x.strip())
df['Race_cat']=df['Race_cat'].apply(lambda x: 'White' if x=='White' else 'Other')

Work Class is divided into three categories Private, Selfemployed, gov and others

In [ ]:
df.workclass.value_counts()

 Private             22286
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64

In [ ]:
def workclas(x):
    if re.search('Private', x):
        return 'Private'
    elif re.search('Self', x):
        return 'selfempl'
    elif re.search('gov', x):
        return 'gov'
    else:
        return 'others'

In [ ]:
df['WorfClass_cat']=df.workclass.apply(lambda x: x.strip()).apply(lambda x: workclas(x))

In [ ]:
df['native_country'].value_counts()

 United-States                 27504
 Mexico                          610
 Philippines                     188
 Germany                         128
 Puerto-Rico                     109
 Canada                          107
 India                           100
 El-Salvador                     100
 Cuba                             92
 England                          86
 Jamaica                          80
 South                            71
 China                            68
 Italy                            68
 Dominican-Republic               67
 Vietnam                          64
 Guatemala                        63
 Japan                            59
 Poland                           56
 Columbia                         56
 Iran                             42
 Taiwan                           42
 Haiti                            42
 Portugal                         34
 Nicaragua                        33
 Peru                             30
 Greece                           29
 France                           27
 Ecuador                          27
 Ireland                          24
 Hong                             19
 Cambodia                         18
 Trinadad&Tobago                  18
 Thailand                         17
 Laos                             17
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         12
 Scotland                         11
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [ ]:
df['native_country_cat'] = df['native_country'].apply(lambda x : "United-States" if x.strip()=="United-States" else "Others")

In [ ]:
df['native_country_cat'].value_counts()

United-States    27504
Others            2658
Name: native_country_cat, dtype: int64

In [ ]:
df[df['ageCat'].isnull()]

Empty DataFrame
Columns: [age, workclass, fulwgt, education, education_num, marital_status, occupation, realationship, race, sex, capital_gain, capital_loss, hour_per_week, native_country, target, education_numCat, hour_per_weekCat, Occupa_cat, ageCat, Marital Status_cat, Race_cat, WorfClass_cat, native_country_cat]
Index: []

[0 rows x 23 columns]

##Making a copy of the dataset

In [ ]:
df['education_num'].value_counts()

9     9840
10    6678
13    5044
14    1627
11    1307
7     1048
12    1008
6      820
4      557
15     542
5      455
8      377
16     375
3      288
2      151
1       45
Name: education_num, dtype: int64

In [ ]:
df.columns

Index(['age', 'workclass', 'fulwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'realationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hour_per_week', 'native_country',
       'target', 'education_numCat', 'hour_per_weekCat', 'Occupa_cat',
       'ageCat', 'Marital Status_cat', 'Race_cat', 'WorfClass_cat',
       'native_country_cat'],
      dtype='object')

In [ ]:
df.isnull().sum()

age                   0
workclass             0
fulwgt                0
education             0
education_num         0
marital_status        0
occupation            0
realationship         0
race                  0
sex                   0
capital_gain          0
capital_loss          0
hour_per_week         0
native_country        0
target                0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
train = df.copy()

In [ ]:
train['realationship'].value_counts()

 Husband           12463
 Not-in-family      7726
 Own-child          4466
 Unmarried          3212
 Wife               1406
 Other-relative      889
Name: realationship, dtype: int64

**delete some extra columns**

In [ ]:
col = ['age', 'workclass', 'education', 'marital_status', 'occupation', 'realationship', 'race', 'hour_per_week', 'native_country']
train.drop(columns=col, axis = 1, inplace = True)

we have to change some features into numeric values

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fulwgt              30162 non-null  int64
 1   education_num       30162 non-null  int64
 2   sex                 30162 non-null  object
 3   capital_gain        30162 non-null  int64
 4   capital_loss        30162 non-null  int64
 5   target              30162 non-null  int64
 6   education_numCat    30162 non-null  category
 7   hour_per_weekCat    30162 non-null  category
 8   Occupa_cat          30162 non-null  object
 9   ageCat              30162 non-null  category
 10  Marital Status_cat  30162 non-null  object
 11  Race_cat            30162 non-null  object
 12  WorfClass_cat       30162 non-null  object
 13  native_country_cat  30162 non-null  object
dtypes: category(3), int64(5), object(6)
memory usage: 3.9+ MB

In [ ]:
train.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
target                0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
"""
fulwgt, education_num:(1-16), Gender(Male:1, Female:0), capital_gain, capital_loss, 
education(Low:0, Midum:1, High:2), hour_per_week(Low:0, Medium:1, VeryHigh:2, High:3),
 Occupation(Lowskill:0, HighSkill:1), AgeCat(Middle_age:1, Young : 0, Old:2),
 Marital_Status(Single : 0, Married:1), Race_cat(White:1, Others:0),
  workclas(Others 0, Private :1, gov:2, selfempl:3), native_country(United-States:1, Others : 0)
"""

'\nfulwgt, education_num:(1-16), Gender(Male:1, Female:0), capital_gain, capital_loss, \neducation(Low:0, Midum:1, High:2), hour_per_week(Low:0, Medium:1, VeryHigh:2, High:3),\n Occupation(Lowskill:0, HighSkill:1), AgeCat(Middle_age:1, Young : 0, Old:2),\n Marital_Status(Single : 0, Married:1), Race_cat(White:1, Others:0),\n  workclas(Others 0, Private :1, gov:2, selfempl:3), native_country(United-States:1, Others : 0)\n'

In [ ]:
train['sex'].value_counts()

 Male      20380
 Female     9782
Name: sex, dtype: int64

In [ ]:
train['sex'] = train['sex'].map({' Male':1,' Female':0})

In [ ]:
train['sex'].value_counts()

1    20380
0     9782
Name: sex, dtype: int64

In [ ]:
train['education_numCat'].value_counts()

Medium    19250
High       8596
Low        2316
Name: education_numCat, dtype: int64

In [ ]:
train['education_numCat'].isnull().sum()

0

In [ ]:
train['education_numCat'] = train['education_numCat'].map({'Low':0, 'Medium':1, 'High':2})

In [ ]:
train['education_numCat'].value_counts()

1    19250
2     8596
0     2316
Name: education_numCat, dtype: int64

In [ ]:
train['education_numCat'].isnull().sum()

0

In [ ]:
train['education_numCat'].value_counts()

1    19250
2     8596
0     2316
Name: education_numCat, dtype: int64

In [ ]:
train['Occupa_cat'].value_counts()

Lowskill     22132
Highskill     8030
Name: Occupa_cat, dtype: int64

In [ ]:
train['Occupa_cat'] = train['Occupa_cat'].map({'Lowskill':0, 'Highskill':1})

In [ ]:
train['Occupa_cat'].value_counts()

0    22132
1     8030
Name: Occupa_cat, dtype: int64

In [ ]:
train['Marital Status_cat'].value_counts()

Single     15706
married    14456
Name: Marital Status_cat, dtype: int64

In [ ]:
train['Marital Status_cat'] = train['Marital Status_cat'].map({'Single':0, 'married':1})

In [ ]:
train['Marital Status_cat'].value_counts()

0    15706
1    14456
Name: Marital Status_cat, dtype: int64

In [ ]:
train['Race_cat'].value_counts()

White    25933
Other     4229
Name: Race_cat, dtype: int64

In [ ]:
train['WorfClass_cat'].value_counts()

Private     22286
gov          4289
selfempl     3573
others         14
Name: WorfClass_cat, dtype: int64

In [ ]:
import seaborn as sns

In [ ]:
pd.crosstab(train['WorfClass_cat'], df['target'])

target             0     1
WorfClass_cat
Private        17410  4876
gov             2971  1318
others            14     0
selfempl        2259  1314

In [ ]:
train['WorfClass_cat'] = train['WorfClass_cat'].map({'others':0, 'Private':1, 'gov':2, 'selfempl':3})

In [ ]:
train['WorfClass_cat'].value_counts()

1    22286
2     4289
3     3573
0       14
Name: WorfClass_cat, dtype: int64

In [ ]:
train['Race_cat'] = train['Race_cat'].map({'Other':0, "White":1})

In [ ]:
train['Race_cat'].isnull().sum()

0

In [ ]:
train['native_country_cat'].value_counts()

United-States    27504
Others            2658
Name: native_country_cat, dtype: int64

In [ ]:
train['Race_cat'].value_counts()

1    25933
0     4229
Name: Race_cat, dtype: int64

In [ ]:
pd.crosstab(train['native_country_cat'], train['target'])

target                  0     1
native_country_cat
Others               2145   513
United-States       20509  6995

In [ ]:
len("United-States")

13

In [ ]:
len(train['native_country_cat'][0])

13

In [ ]:
train['native_country_cat'] = train['native_country_cat'].apply(lambda x : 1 if x=="United-States" else 0)

In [ ]:
train['native_country_cat'].value_counts()

1    27504
0     2658
Name: native_country_cat, dtype: int64

In [ ]:
train['native_country_cat'].isnull().sum()

0

In [ ]:
train['hour_per_weekCat'].value_counts()

Medium      15091
High         8145
Low          5874
VeryHigh     1052
Name: hour_per_weekCat, dtype: int64

In [ ]:
train['hour_per_weekCat']

0        Medium
1           Low
2        Medium
3        Medium
4        Medium
          ...
32556    Medium
32557    Medium
32558    Medium
32559       Low
32560    Medium
Name: hour_per_weekCat, Length: 30162, dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'VeryHigh']

In [ ]:
pd.crosstab(train['hour_per_weekCat'], train['target'])

target                0     1
hour_per_weekCat
Low                5369   505
Medium            11829  3262
High               4796  3349
VeryHigh            660   392

In [ ]:
train['hour_per_weekCat'] = train['hour_per_weekCat'].map({'Low':0, 'Medium':1, 'VeryHigh':2,'High':3})

In [ ]:
train.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
target                0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fulwgt              30162 non-null  int64
 1   education_num       30162 non-null  int64
 2   sex                 30162 non-null  int64
 3   capital_gain        30162 non-null  int64
 4   capital_loss        30162 non-null  int64
 5   target              30162 non-null  int64
 6   education_numCat    30162 non-null  category
 7   hour_per_weekCat    30162 non-null  category
 8   Occupa_cat          30162 non-null  int64
 9   ageCat              30162 non-null  category
 10  Marital Status_cat  30162 non-null  int64
 11  Race_cat            30162 non-null  int64
 12  WorfClass_cat       30162 non-null  int64
 13  native_country_cat  30162 non-null  int64
dtypes: category(3), int64(11)
memory usage: 3.9 MB

In [ ]:
train['hour_per_weekCat'] = pd.to_numeric(train['hour_per_weekCat'])

In [ ]:
train['hour_per_weekCat'].value_counts()

1    15091
3     8145
0     5874
2     1052
Name: hour_per_weekCat, dtype: int64

In [ ]:
train['ageCat'].value_counts()

Middle_aged    17127
Young           9597
Old             3438
Name: ageCat, dtype: int64

In [ ]:
pd.crosstab(train['ageCat'], train['target'])

target           0     1
ageCat
Young         8936   661
Middle_aged  11305  5822
Old           2413  1025

In [ ]:
train[train['ageCat'].isnull()]

Empty DataFrame
Columns: [fulwgt, education_num, sex, capital_gain, capital_loss, target, education_numCat, hour_per_weekCat, Occupa_cat, ageCat, Marital Status_cat, Race_cat, WorfClass_cat, native_country_cat]
Index: []

In [ ]:
train['ageCat'] = train['ageCat'].map({'Middle_aged': 1, 'Young':0, 'Old':2})

In [ ]:
train['ageCat'].value_counts()

1    17127
0     9597
2     3438
Name: ageCat, dtype: int64

In [ ]:
train.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
target                0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fulwgt              30162 non-null  int64
 1   education_num       30162 non-null  int64
 2   sex                 30162 non-null  int64
 3   capital_gain        30162 non-null  int64
 4   capital_loss        30162 non-null  int64
 5   target              30162 non-null  int64
 6   education_numCat    30162 non-null  category
 7   hour_per_weekCat    30162 non-null  int64
 8   Occupa_cat          30162 non-null  int64
 9   ageCat              30162 non-null  category
 10  Marital Status_cat  30162 non-null  int64
 11  Race_cat            30162 non-null  int64
 12  WorfClass_cat       30162 non-null  int64
 13  native_country_cat  30162 non-null  int64
dtypes: category(2), int64(12)
memory usage: 4.1 MB

In [ ]:
train.columns

Index(['fulwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss',
       'target', 'education_numCat', 'hour_per_weekCat', 'Occupa_cat',
       'ageCat', 'Marital Status_cat', 'Race_cat', 'WorfClass_cat',
       'native_country_cat'],
      dtype='object')

In [ ]:
# col = ['native_country_cat1', 'education_numCat1','hourt_per_weekCat1']
# train.drop(columns = col,axis=1, inplace = True)

##apply Models

import important models

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV, KFold
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import RobustScaler

In [ ]:
dftr = train.copy()

In [ ]:
dftr2 = train.copy()

In [ ]:
dftr.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
target                0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
dftr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fulwgt              30162 non-null  int64
 1   education_num       30162 non-null  int64
 2   sex                 30162 non-null  int64
 3   capital_gain        30162 non-null  int64
 4   capital_loss        30162 non-null  int64
 5   target              30162 non-null  int64
 6   education_numCat    30162 non-null  category
 7   hour_per_weekCat    30162 non-null  int64
 8   Occupa_cat          30162 non-null  int64
 9   ageCat              30162 non-null  category
 10  Marital Status_cat  30162 non-null  int64
 11  Race_cat            30162 non-null  int64
 12  WorfClass_cat       30162 non-null  int64
 13  native_country_cat  30162 non-null  int64
dtypes: category(2), int64(12)
memory usage: 4.1 MB

In [ ]:
dftr.head()

,fulwgt,education_num,sex,capital_gain,capital_loss,target,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,Marital Status_cat,Race_cat,WorfClass_cat,native_country_cat
0,77516,13,1,2174,0,0,2,1,0,1,0,1,2,1
1,83311,13,1,0,0,0,2,0,1,1,1,1,3,1
2,215646,9,1,0,0,0,1,1,0,1,0,1,1,1
3,234721,7,1,0,0,0,1,1,0,1,1,0,1,1
4,338409,13,0,0,0,0,2,1,1,0,1,0,1,0

In [ ]:
dftr = dftr.astype('int')

In [ ]:
dftr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   fulwgt              30162 non-null  int64
 1   education_num       30162 non-null  int64
 2   sex                 30162 non-null  int64
 3   capital_gain        30162 non-null  int64
 4   capital_loss        30162 non-null  int64
 5   target              30162 non-null  int64
 6   education_numCat    30162 non-null  int64
 7   hour_per_weekCat    30162 non-null  int64
 8   Occupa_cat          30162 non-null  int64
 9   ageCat              30162 non-null  int64
 10  Marital Status_cat  30162 non-null  int64
 11  Race_cat            30162 non-null  int64
 12  WorfClass_cat       30162 non-null  int64
 13  native_country_cat  30162 non-null  int64
dtypes: int64(14)
memory usage: 4.5 MB

In [ ]:

dftr['fulwgt'].min()

13769

In [ ]:
dftr.describe()

,fulwgt,education_num,sex,capital_gain,capital_loss,target,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,Marital Status_cat,Race_cat,WorfClass_cat,native_country_cat
count,3.016200e+04,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.000000,30162.00000,30162.000000,30162.000000
mean,1.897938e+05,10.121312,0.675685,1092.007858,88.372489,0.248922,1.208209,1.380214,0.266229,0.795803,0.479279,0.85979,1.378655,0.911876
std,1.056530e+05,2.549995,0.468126,7406.346497,404.298370,0.432396,0.564304,1.079477,0.441993,0.624886,0.499579,0.34721,0.687852,0.283480
min,1.376900e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1.176272e+05,9.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.00000,1.000000,1.000000
50%,1.784250e+05,10.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.00000,1.000000,1.000000
75%,2.376285e+05,13.000000,1.000000,0.000000,0.000000,0.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.00000,2.000000,1.000000
max,1.484705e+06,16.000000,1.000000,99999.000000,4356.000000,1.000000,2.000000,3.000000,1.000000,2.000000,1.000000,1.00000,3.000000,1.000000

In [ ]:
dftr['capital_loss'].max()

4356

In [ ]:
dftr.shape

(30162, 14)

In [ ]:
# rs = RobustScaler()

In [ ]:
Y = dftr['target']
X = dftr.drop('target', axis = 1)
print(X.shape, Y.shape)

(30162, 13) (30162,)

In [ ]:
X.columns

Index(['fulwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss',
       'education_numCat', 'hour_per_weekCat', 'Occupa_cat', 'ageCat',
       'Marital Status_cat', 'Race_cat', 'WorfClass_cat',
       'native_country_cat'],
      dtype='object')

In [ ]:
X.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
Marital Status_cat    0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
X1 = X.copy()

In [ ]:
X1.columns

Index(['fulwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss',
       'education_numCat', 'hour_per_weekCat', 'Occupa_cat', 'ageCat',
       'Marital Status_cat', 'Race_cat', 'WorfClass_cat',
       'native_country_cat'],
      dtype='object')

In [ ]:
X1 = X1.rename(columns={'Marital Status_cat':'MaritalStatusCat'})

In [ ]:
X1.head()

,fulwgt,education_num,sex,capital_gain,capital_loss,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,MaritalStatusCat,Race_cat,WorfClass_cat,native_country_cat
0,77516,13,1,2174,0,2,1,0,1,0,1,2,1
1,83311,13,1,0,0,2,0,1,1,1,1,3,1
2,215646,9,1,0,0,1,1,0,1,0,1,1,1
3,234721,7,1,0,0,1,1,0,1,1,0,1,1
4,338409,13,0,0,0,2,1,1,0,1,0,1,0

In [ ]:
# X1 = rs.fit_transform(X1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X1, Y, test_size=0.21, random_state = 0)

In [ ]:
X_train.head()

,fulwgt,education_num,sex,capital_gain,capital_loss,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,MaritalStatusCat,Race_cat,WorfClass_cat,native_country_cat
28041,70668,9,0,0,0,1,3,0,1,1,1,1,1
27604,204928,10,1,0,0,1,1,0,1,1,1,3,1
6158,98948,12,0,0,0,2,1,0,1,0,1,1,1
2963,29814,9,1,0,0,1,2,0,1,0,1,3,1
22218,160474,9,0,0,1590,1,3,0,1,0,1,1,1

In [ ]:
X_test.head()

,fulwgt,education_num,sex,capital_gain,capital_loss,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,MaritalStatusCat,Race_cat,WorfClass_cat,native_country_cat
2135,81853,9,0,0,0,1,1,0,1,0,0,1,1
15639,306114,10,1,0,0,1,0,0,0,0,1,1,1
29059,186110,10,1,0,0,1,1,0,1,1,1,1,1
27523,45427,11,1,0,0,1,3,0,0,0,1,3,1
9280,133584,10,1,0,0,1,1,0,1,1,1,3,0

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(23827, 13) (6335, 13) (23827,) (6335,)

In [ ]:
X_train.columns

Index(['fulwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss',
       'education_numCat', 'hour_per_weekCat', 'Occupa_cat', 'ageCat',
       'MaritalStatusCat', 'Race_cat', 'WorfClass_cat', 'native_country_cat'],
      dtype='object')

In [ ]:
X_test.columns

Index(['fulwgt', 'education_num', 'sex', 'capital_gain', 'capital_loss',
       'education_numCat', 'hour_per_weekCat', 'Occupa_cat', 'ageCat',
       'MaritalStatusCat', 'Race_cat', 'WorfClass_cat', 'native_country_cat'],
      dtype='object')

In [ ]:
X_train.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
MaritalStatusCat      0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
X_test.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
MaritalStatusCat      0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64


##DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_predictdt = dt.predict(X_test)
print(accuracy_score(y_test, y_predictdt))

0.8034727703235991

In [ ]:
dtree = DecisionTreeClassifier(criterion='gini', random_state=0, max_depth=10)
dtree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=10, random_state=0)

In [ ]:
y_predictdtree = dtree.predict(X_test)
print(accuracy_score(y_test, y_predictdtree))

0.8525651144435675

##RandomForestClassifier

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_predictrf = rf.predict(X_test)
print(accuracy_score(y_test, y_predictrf))

0.819258089976322

In [ ]:
rforest = RandomForestClassifier(n_estimators=100, random_state=0)
rforest.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [ ]:
y_predictrforest = rforest.predict(X_test)
print(accuracy_score(y_test, y_predictrforest))

0.8202052091554854

##XgBoostClassifier

In [ ]:
import xgboost as xgb
xgbcls =  xgb.XGBClassifier()
xgbcls.fit(X_train, y_train)

XGBClassifier()

In [ ]:
y_predictxgb = xgbcls.predict(X_test)
print(accuracy_score(y_test, y_predictxgb))

0.8544593528018942

In [ ]:
xgbcls.get_xgb_params()

{'base_score': 0.5,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 100,
 'nthread': 1,
 'objective': 'binary:logistic',
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': 0,
 'subsample': 1,
 'verbosity': 1}

In [ ]:
xgb1 = xgb.XGBClassifier(learning_rate =0.1,n_estimators=1000,max_depth=10,min_child_weight=1,gamma=0,subsample=0.8,colsample_bytree=0.8,
 objective= 'binary:logistic',nthread=4,scale_pos_weight=1,seed=27)

xgb1.fit(X_train, y_train)

XGBClassifier(colsample_bytree=0.8, max_depth=10, n_estimators=1000, nthread=4,
              seed=27, subsample=0.8)

In [ ]:
xgb12 = xgb.XGBClassifier(base_score= 0.5,
 booster="gbtree",
 colsample_bylevel=1,
 colsample_bynode= 1,
 colsample_bytree= 1,
 gamma=0,
 learning_rate= 0.1,
 max_delta_step= 0,
 max_depth= 5,
 min_child_weight= 1,
 missing= None,
 n_estimators= 100,
 nthread=1,
 objective="binary:logistic",
 reg_alpha=0,
 reg_lambda= 1,
 scale_pos_weight= 1,
 seed= 0,
 subsample= 1,
 verbosity= 1)

xgb12.fit(X_train, y_train)

XGBClassifier(max_depth=5, nthread=1, seed=0)

In [ ]:
y_predictxgb12 = xgb12.predict(X_test)
print(accuracy_score(y_test, y_predictxgb12))

0.8593528018942383

In [ ]:
y_predictxgb1 = xgb1.predict(X_test)
print(accuracy_score(y_test, y_predictxgb1))

0.8307813733228098

##Hyperparametertunning

#**Pickle**

In [ ]:
X1.isnull().sum()

fulwgt                0
education_num         0
sex                   0
capital_gain          0
capital_loss          0
education_numCat      0
hour_per_weekCat      0
Occupa_cat            0
ageCat                0
MaritalStatusCat      0
Race_cat              0
WorfClass_cat         0
native_country_cat    0
dtype: int64

In [ ]:
xgb12.fit(X1, Y)

XGBClassifier(max_depth=5, nthread=1, seed=0)

In [ ]:
X1.to_csv("cleanData.csv", index = False)

In [ ]:
y_predict= xgb12.predict(X_test)
print(accuracy_score(y_test, y_predict))

0.8678768745067088

In [ ]:
import pickle

In [ ]:
# save the model
file = 'modelSalary.pkl'
with open(file, 'wb') as f:
    pickle.dump(xgb12, f)

# open the model
# file = '/content/model.pkl'
# with open(file, 'rb') as f:
#     model = pickle.load(f)

In [ ]:
# open the model
file = '/content/modelSalary.pkl'
with open(file, 'rb') as f:
    model = pickle.load(f)

In [ ]:
y_predict12 = model.predict(X_test)

In [ ]:
X_test.head()

,fulwgt,education_num,sex,capital_gain,capital_loss,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,MaritalStatusCat,Race_cat,WorfClass_cat,native_country_cat
2135,81853,9,0,0,0,1,1,0,1,0,0,1,1
15639,306114,10,1,0,0,1,0,0,0,0,1,1,1
29059,186110,10,1,0,0,1,1,0,1,1,1,1,1
27523,45427,11,1,0,0,1,3,0,0,0,1,3,1
9280,133584,10,1,0,0,1,1,0,1,1,1,3,0

In [ ]:
accuracy_score(y_test, y_predict12)

0.8678768745067088

#**Streamlit**

In [ ]:
!pip install streamlit

Collecting streamlit
  Downloading streamlit-1.7.0-py2.py3-none-any.whl (9.9 MB)
     |████████████████████████████████| 9.9 MB 5.4 MB/s
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Collecting toml
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.23.0)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from streamlit) (0.8.1)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.8.2)
Collecting pympler>=0.9
  Downloading Pympler-1.0.1-py3-none-any.whl (164 kB)
     |████████████████████████████████| 164 kB 49.6 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.21.5)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.0)
Requirement already satisfied: pandas>=0.21.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (1.3.5)
Collecting base58
  Downloading base58-2.1.1-py3-none-any.whl (5.6 kB)
Requirement already satisfied: tornado>=5.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (5.1.1)
Collecting pydeck>=0.1.dev5
  Downloading pydeck-0.7.1-py2.py3-none-any.whl (4.3 MB)
     |████████████████████████████████| 4.3 MB 44.6 MB/s
Collecting validators
  Downloading validators-0.18.2-py3-none-any.whl (19 kB)
Requirement already satisfied: semver in /usr/local/lib/python3.7/dist-packages (from streamlit) (2.13.0)
Collecting blinker
  Downloading blinker-1.4.tar.gz (111 kB)
     |████████████████████████████████| 111 kB 71.5 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.3)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.2.4)
Requirement already satisfied: protobuf!=3.11,>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.17.3)
Collecting watchdog
  Downloading watchdog-2.1.6-py3-none-manylinux2014_x86_64.whl (76 kB)
     |████████████████████████████████| 76 kB 5.2 MB/s
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from streamlit) (4.11.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from streamlit) (7.1.2)
Collecting gitpython!=3.1.19
  Downloading GitPython-3.1.27-py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 66.9 MB/s
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from streamlit) (6.0.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from streamlit) (3.10.0.2)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from streamlit) (21.4.0)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.11.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.7/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->streamlit) (3.7.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.18.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.0->streamlit) (2018.9)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf!=3.11,>=3.6.0->streamlit) (1.15.0)
Requirement already satisfied: traitlets>=4.3.2 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (5.1.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from pydeck>=0.1.dev5->streamlit) (7.6.5)
Collecting ipykernel>=5.1.2
  Downloading ipykernel-6.9.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 72.6 MB/s
Requirement already satisfied: debugpy<2.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.0.0)
Requirement already satisfied: jupyter-client<8.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (5.3.5)
Collecting ipython>=7.23.1
  Downloading ipython-7.32.0-py3-none-any.whl (793 kB)
     |████████████████████████████████| 793 kB 49.5 MB/s
Requirement already satisfied: matplotlib-inline<0.2.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.1.3)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (1.5.4)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.5)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (57.4.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.4.2)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading prompt_toolkit-3.0.28-py3-none-any.whl (380 kB)
     |████████████████████████████████| 380 kB 51.8 MB/s
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.2.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (3.5.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (4.9.2)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client<8.0->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (22.3.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel>=5.1.2->pydeck>=0.1.dev5->streamlit) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.3.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.13.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (5.6.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.8.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.6.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (4.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (1.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->pydeck>=0.1.dev5->streamlit) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->streamlit) (3.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->streamlit) (3.0.4)
Building wheels for collected packages: blinker
  Building wheel for blinker (setup.py) ... done
  Created wheel for blinker: filename=blinker-1.4-py3-none-any.whl size=13478 sha256=93508abde1fac7b5c0fbfa4f1ac0c28a2c0cb203fd2ce7d3fd0bddced2431d9c
  Stored in directory: /root/.cache/pip/wheels/22/f5/18/df711b66eb25b21325c132757d4314db9ac5e8dabeaf196eab
Successfully built blinker
Installing collected packages: prompt-toolkit, ipython, ipykernel, smmap, gitdb, watchdog, validators, toml, pympler, pydeck, gitpython, blinker, base58, streamlit
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Attempting uninstall: ipython
    Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
  Attempting uninstall: ipykernel
    Found existing installation: ipykernel 4.10.1
    Uninstalling ipykernel-4.10.1:
      Successfully uninstalled ipykernel-4.10.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.28 which is incompatible.
google-colab 1.0.0 requires ipykernel~=4.10, but you have ipykernel 6.9.1 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.32.0 which is incompatible.
Successfully installed base58-2.1.1 blinker-1.4 gitdb-4.0.9 gitpython-3.1.27 ipykernel-6.9.1 ipython-7.32.0 prompt-toolkit-3.0.28 pydeck-0.7.1 pympler-1.0.1 smmap-5.0.0 streamlit-1.7.0 toml-0.10.2 validators-0.18.2 watchdog-2.1.6

In [ ]:
%%writefile app.py
import streamlit as st 
import pickle
from PIL import Image
import base64
import pandas as pd
import numpy as np


model = pickle.load(open('modelSalary.pkl', 'rb'))


def getData():
  st.write("print")



  # full Name 
  name = st.text_input("Enter Your full Name")

  # fulwgt
  fulwgt = st.number_input("Enter final Weight",min_value=13769, max_value=1484705)
  # st.write(fulwgt)

  # educationNumeric
  education_num = st.number_input("enter education b/w 1 to 16", min_value=1, max_value=16)
  # st.write(education_num)
  
  # Gender
  gen_display = ('Female','Male')
  gen_options = list(range(len(gen_display)))
  sex = st.selectbox("Gender",gen_options, format_func=lambda x: gen_display[x])
  sex = int(sex)
  # st.write(sex)

  # capital_gain
  capital_gain = st.number_input("Capital Gain",min_value=0, max_value=99999)
  capital_gain = int(capital_gain)
  # st.write(capital_gain)

  # capital_loss
  capital_loss = st.number_input("Capital Loss", min_value=0, max_value=4356)
  capital_loss = int(capital_loss)
  # st.write(capital_loss)

  # educationLevel
  edu_display = ('Low','Medium','High')
  edu_options = list(range(len(edu_display)))
  education_numCat = st.selectbox("Education Level",edu_options, format_func=lambda x: edu_display[x])
  education_numCat = int(education_numCat)
  # st.write(education_numCat)


  # hour_Per_week
  hour_display = ('Low', 'Medium', 'VeryHigh', 'High')
  hour_options = list(range(len(hour_display)))
  hour_per_weekCat = st.selectbox("Work Hour Per Week", hour_options,format_func=lambda x : hour_display[x])
  hour_per_weekCat = int(hour_per_weekCat)
  # st.write(hour_per_weekCat)

  # Occupation
  occu_display = ('LowSkill', 'HighSkill')
  occu_options = list(range(len(occu_display)))
  Occupa_cat = st.selectbox("type of Occupation", occu_options,format_func=lambda x : occu_display[x])
  Ocuupa_cat = int(Occupa_cat)
  # st.write(Ocuupa_cat)

  # AgeCat
  age_display = ('Young', 'MiddleAge', 'Old')
  age_options = list(range(len(age_display)))
  ageCat = st.selectbox("Age Category", age_options,format_func=lambda x :age_display[x])
  ageCat = int(ageCat)
  # st.write(ageCat)

  # Marital_status
  m_display = ('Single', 'Married')
  m_options = list(range(len(m_display)))
  MaritalStatusCat = st.selectbox("Marital Status", m_options,format_func=lambda x : m_display[x])
  MaritalStatusCat = int(MaritalStatusCat)
  # st.write(MaritalStatusCat)


  # Race_cat
  race_display = ('Others', 'White')
  race_options = list(range(len(race_display)))
  Race_cat = st.selectbox("Race or Enthicity", race_options,format_func=lambda x : race_display[x])
  Race_cat = int(Race_cat)
  # st.write(Race_cat)

  # workclas 
  work_display = ('Others', 'Private', 'Goverment', 'SelfEmployee')
  work_options = list(range(len(work_display)))
  WorfClass_cat = st.selectbox("chose your Work type", work_options,format_func=lambda x : work_display[x])
  # st.write(WorfClass_cat)


  # native country
  country_display = ('Others', 'United States')
  country_options = list(range(len(country_display)))
  native_country_cat = st.selectbox("Native Country", country_options,format_func=lambda x : country_display[x])
  native_country_cat = int(native_country_cat)
  # st.write(native_country_cat)


  # FEAR = [f0, f1, 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12']

  # f12 = [[capital_loss, MaritalStatusCat, education_numCat, education_num, fulwgt, Occupa_cat, hour_per_weekCat, ageCat, capital_gain, WorfClass_cat, native_country_cat, sex, Race_cat]] 

  features = [fulwgt,education_num,sex,capital_gain,capital_loss,education_numCat,hour_per_weekCat,Occupa_cat,ageCat,MaritalStatusCat,Race_cat,WorfClass_cat,native_country_cat]

  dataf = pd.DataFrame({'fulwgt':fulwgt,'education_num':education_num, 'sex':sex, 'capital_gain':capital_gain,
                        'capital_loss':capital_loss, 'education_numCat':education_numCat,
                        'hour_per_weekCat':hour_per_weekCat, 'Occupa_cat':Occupa_cat, 
                        'ageCat':ageCat,'MaritalStatusCat':MaritalStatusCat, 'Race_cat':Race_cat, 'WorfClass_cat':WorfClass_cat,
                        'native_country_cat':native_country_cat}, index=[0])
  # st.write(dataf)
  print(dataf)
  if st.button("Submit"):
    prediction = model.predict(dataf)
    lc = [str(i) for i in prediction]
    ans = int("".join(lc))
    # st.write(ans)
    print(ans)
    if ans == 0:
        st.error(
            "Hello: " + name +" || "
            'According to our Calculations, your earning less than 50K. **Best Of Luck**.'
        )
    else:
        st.success(
            "Hello: " + name +" || "
            'Hurray!! According to our calculations, Your are earning more than 50k.'
        )




@st.cache(suppress_st_warning=True)
def readImage():
  """function for loading image"""
  # this is for image
  file_ = open("/content/img.gif", "rb")
  contents = file_.read()
  data_url = base64.b64encode(contents).decode("utf-8")
  file_.close()
  st.markdown(f'<img src="data:image/gif;base64,{data_url}" alt="cat gif">',unsafe_allow_html=True)


def run():

  
  # readImage()
  """function for loading image"""
  # this is for image
  file_ = open("/content/img.gif", "rb")
  contents = file_.read()
  data_url = base64.b64encode(contents).decode("utf-8")
  file_.close()
  st.markdown(f'<img src="data:image/gif;base64,{data_url}" alt="cat gif">',unsafe_allow_html=True)

  st.title("""
  Salary Prediction using Machine Learning
  **The major aim of this project is to predict which of the employee will get salary more than 50K.**
""")
  
  getData()
  






# st.write("Salary")
run()

Overwriting app.py

In [ ]:
!streamlit run app.py &>/dev/null &

In [ ]:
!nohup npx localtunnel --port 8501 &

nohup: appending output to 'nohup.out'